<div class="card" *ngIf="Board">
    <div class="card-header">
        {{Board.Data.boardName || 'Untitled'}}
    </div>
    <div class="card-body">
        <div>
            <table class="table table-bordered" style="width: 1px;">
                <tbody>
                    <tr *ngFor="let row of Board.Rows">
                        <td *ngFor="let cell of row">
                            <cell [Cell]="cell" (click)="OnCellClick(cell)"></cell>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="ShowControls">
        <button class="btn btn-primary" (click)="OnOpen()">Open</button>
        <button class="btn btn-danger" (click)="OnDelete()">Delete</button>
    </div>
</div>