<h1>Game</h1>
<div *ngIf="Board">
    <form class="form-inline">
        <button class="btn btn-warnibg mb-2 mr-sm-2" (click)="Browse()">Browser</button>
        <button class="btn btn-primary mb-2 mr-sm-2" [disabled]="Board.Empty || Board.NextPlayer=='computer'" (click)="StartNewGame()">New game</button>
        <button class="btn btn-success mb-2 mr-sm-2" [disabled]="!Board.CanSave" (click)="Save()">Save</button>
    </form>

    <div class="alert alert-warning" role="alert">
        <h2 class="text-center">{{Message}}</h2>
    </div>

    <board [Board]="Board" [ShowControls]="false" (CellClick)="CellClick($event)"></board>
    <!-- <p>Empty: {{Board.Empty}}</p>
    <p>Full: {{Board.Full}}</p>
    <p>UserCellCount: {{Board.UserCellCount}}</p>
    <p>ComputerCellCount: {{Board.ComputerCellCount}}</p>
    <p>NextPlayer: {{Board.NextPlayer}}</p>
    <p>GameResult: {{Board.GameResult}}</p>
    <p>GameOver: {{Board.GameOver}}</p> -->
</div>