<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{title}}</h4>
            <button type="button" class="close" (click)="close()">&times;</button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="boardName" class="col-form-label">Board name</label>
                    <input type="text" class="form-control" name="boardName" autocomplete="off" [(ngModel)]="boardName">
                    <div class="help-block with-errors" *ngIf="!Valid">Minimum 3, maximum 50 characters, must not contains space!</div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
            <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
        </div>
    </div>
</div>